* {
    box-sizing: border-box;
}
body {
    background-color: #0EF;
    font-size: 20px;
}

h1 {
    font-family: 'Chilanka';
    font-size: 50px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;    
    text-shadow: 1px 0px 3px #F00;
}

h3 {
    text-align: center;
    font-family: 'Chilanka';
    font-size: 40px;
}

form {
    text-align: center;
}

label {
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'chilanka';
}

input[type=text], [type=password], select {
    text-align: center;
    font-family: 'chilanka';
    padding: 2px;
    width: 300px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: 0;
    margin-top: 5px;
}

select {
    margin-top: 20px;
}

button {
    text-align: center;
    font-family: 'chilanka';
    padding: 10px;
    font-size: 15px;
    border: 1px solid #05f;
    border-radius: 10px;
    text-align: center;
}

button:hover {
    background-color: #05f;
}

